@model IOC.SERVICE.Data.UserModel

@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Styles.Render("~/Content/datepickercss")
<link href="~/Content/Profile.css" rel="stylesheet" />
<div id="profile-data">
    <div class="container" style="margin-top: 30px;">
        <div class="profile-head">
            <div class="col-md- col-sm-4 col-xs-12">
                <img src="~/Images/amit.jpg" class="img-responsive" />
                <h6>@Model.FirstName</h6>
            </div><!--col-md-4 col-sm-4 col-xs-12 close-->

            <div class="col-md-5 col-sm-5 col-xs-12">
                <h5>@Model.FirstName</h5>
                <p>Web Designer / Developer </p>
                <ul>
                    <li><span class="glyphicon glyphicon-briefcase"></span> 5 years</li>
                    <li><span class="glyphicon glyphicon-map-marker"></span>India</li>
                    <li><span class="glyphicon glyphicon-home"></span> @Model.Address</li>
                    <li><span class="glyphicon glyphicon-phone"></span> <a href="#" title="call">@Model.MobileNumber</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">@Model.Email</a></li>
                </ul>

            </div><!--col-md-8 col-sm-8 col-xs-12 close-->


        </div><!--profile-head close-->
    </div><!--container close-->

    <div id="sticky" class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-menu" role="tablist">
            <li id="profile">
                <a href="#profile" role="tab" data-toggle="tab">
                    <i class="fa fa-male"></i> Profile
                </a>
            </li>
            <li id="key">
                <a href="#change" role="tab" data-toggle="tab">
                    <i class="fa fa-key"></i> Edit Profile
                </a>
            </li>
        </ul><!--nav-tabs close-->
    </div>
    <!-- Tab panes -->
   
        <div class="tab-content">
            <div class="tab-pane fade active in" id="profile">
                <div class="container">
                    <div class="col-sm-11" style="float:left;">
                        <div class="hve-pro">
                            <p>
                                Hello I’m @Model.FirstName , a leading expert in interactive and creative design specializing in the mobile medium.
                                My graduation from Massey University with a Bachelor of Design majoring in visual communication.
                            </p>
                        </div><!--hve-pro close-->
                    </div><!--col-sm-12 close-->
                    <br clear="all" />
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="pro-title">Bio Graph</h4>
                        </div><!--col-md-12 close-->

                        <div class="col-md-6">
                            <div class="table-responsive responsiv-table">
                                <table class="table bio-table">
                                    <tbody>
                                        <tr>
                                            <td>Firstname</td>
                                            <td>@Model.FirstName</td>
                                        </tr>
                                        <tr>
                                            <td>Lastname</td>
                                            <td>@Model.LastName</td>
                                        </tr>
                                        <tr>
                                            <td>Birthday</td>
                                            <td>@Model.DOB.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>@Model.Address</td>
                                        </tr>
                                        <tr>
                                            <td>Occupation</td>
                                            <td>Web Designer</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!--table-responsive close-->
                        </div><!--col-md-6 close-->
                        <div class="col-md-6">
                            <div class="table-responsive responsiv-table">
                                <table class="table bio-table">
                                    <tbody>
                                        <tr>
                                            <td>Email Id</td>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td>@Model.MobileNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>: (+021) 956 789123</td>
                                        </tr>
                                        <tr>
                                            <td>Experience</td>
                                            <td>: 5 years</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div><!--table-responsive close-->
                        </div><!--col-md-6 close-->
                    </div><!--row close-->


                </div><!--container close-->
            </div><!--tab-pane close-->
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "userForm" }))


    {
        @Html.AntiForgeryToken()
       
            <div class="tab-pane fade" id="change" style="margin-top:30px;">
                <div class="container fom-main">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="register">Edit Your Profile</h2>
                        </div><!--col-sm-12 close-->
                    </div><!--row close-->
                    <br />
                    <div class="row">



                        <form class="">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.HiddenFor(x => x.UserId, new { @id = "UserId" })
                            </div>
                            <div class="form-group">
                                <label class="col-md-10 control-label">First Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "txtFirstName" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-10 control-label">Last Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "txtLastName" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-10 control-label">Mobile Number</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control", id = "txtMobileNumber" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-10 control-label">DOB</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.DOB, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", id = "txtDOB" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group">

                                <label class="col-md-10 control-label">Address</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "txtAddress" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>




                            </div>
                            <div class="form-group">

                                <label class="col-md-10 control-label">Gender</label>
                                <div class="cols-sm-10">
                                    <div class="input-group" style="margin-left:-415px;">
                                        Male:@Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "rb-btn" })&nbsp;
                                        &nbsp;&nbsp;
                                        Female: @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "rb-btn" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>


                            </div>
                        </form>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="btn-user-update">Save</button>
                        </div>

                    </div><!--row close-->
                </div><!--container close -->
            </div><!--tab-pane close-->

    }


    

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datepickerjs")
<script src="~/Scripts/Js/UpdateProfile.js"></script>
    }

