@model IOC_SERVICE.Data.TaxTypeModel

@{
    ViewBag.Title = "TaxView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Add Tax-->
<button id="addBtn" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#taxModal" style="margin-top:10px;margin-bottom:15px;">Add New TaxRate</button>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "taxForm" }))


{
    @Html.AntiForgeryToken()

    <div id="taxModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Tax</h4>
                </div>
                <div class="modal-body" style="margin-left:60px;">

           
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" id="Id">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Tax Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    @Html.TextBoxFor(model => model.TaxRate, new { @class = "form-control", id = "txtTaxType" })
                                </div>
                                @Html.ValidationMessageFor(model => model.TaxRate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-save-tax">Save</button>
                    <button type="button" class="btn btn-success" id="btn-update-tax">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Update Tax Type-->
    @*<div id="taxmodalupdate" class="modal fade" role="dialog">
        <div class="modal-dialog">

             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update TaxRate</h4>
                </div>
                <div class="modal-body" style="margin-left:60px;">

                    <form class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="hidden" id="Id">

                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Unit Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    @Html.TextBoxFor(model => model.TaxRate, new { @class = "form-control", id = "taxes" })
                                </div>
                                @Html.ValidationMessageFor(model => model.TaxRate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-update-tax">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@

}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
               TaxView
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tbl-tax">
                        <thead>
                            <tr>
                                <th>Tax Rate(%)</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Js/TaxTable.js"></script>
    }
