@model IOC_SERVICE.Data.PurchaseViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h4>Invoice Number ##@Model.InvoiceNumber</h4><h3 class="pull-right"></h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Billed To:</strong><br>
                        @Model.PartyName<br>
                        @Model.Address<br>
                        @Model.Contact<br>

                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        @Model.PurchaseDate<br>
                        <br>
                    </address>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" style="height:auto;">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                @foreach (var item in Model.purchasedetaillist)
                                {
                                    <tr>
                                        <td>@item.ItemName</td>
                                        <td class="text-center">@item.UnitPrice</td>
                                        <td class="text-center">@item.PurchaseUnit</td>
                                        <td class="text-right">@item.SubTotal</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Total</strong></td>
                                    <td class="thick-line text-right">@Model.Total</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Tax Rate</strong></td>
                                    <td class="no-line text-right">@Model.TaxRate%</td>
                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Grand Total</strong></td>
                                    <td class="thick-line text-right">@Model.GrandTotal</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

